.menuItem{
  margin-right: 10px;
  text-decoration: none;
}
.activeMenuItem{
  color: #78db1b;
  text-decoration: underline;
}

.inActiveMenuItem{
  color: #9e6105;
  text-decoration: none;
}

.btn{
  text-decoration: none;
  display: inline-block;
  /* border: 1px solid #78db1b; */
  background-color: #78db1b;
  box-shadow: 2px 2px 4px;
  color: #9e6105;
  border-radius: 8px;
  margin: 10px;
  padding: 4px 16px;
  transition: all .1s;
}

.btn:hover{
  transform: translateY(-1px);
}

.btn:active{
  transform: translateY(1px);
  box-shadow: 0px 0px 0px;
}

